.App{
  min-height: 100vh;
}
header{
  padding: 40px;
  margin-right: 0px;
  display: flex;
  justify-content: space-between;
}
.menu{
  display: flex;
  justify-content: space-around;
  margin: 20px;
  width: 400px;
  color: white;
  list-style: none;
}
.body{
  margin-top: 120px;
  padding-left: 60px;
  color: white;
}
h1{
  font-size: 80px;
  margin-bottom: 0px;
  font-family: ubuntu;
  font-weight: 700;
}
p{
  margin-top: 0px;
  font-family: ubuntu;
  font-weight: 300;
  padding-left: 5px;
}
li a{
  text-decoration: none;
  color: white;
  font-family: ubuntu;
  font-weight: 300;
}
li a:hover{
color: #ff9393;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}


